.container{
    width: 100%;
    height: 100%;
}
.slogan{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: cursive;
    margin-top: 5%;
}
.aboutUsContainer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.titleAbout h1{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    size: 20px;
    cursor: pointer;
}
.titleAbout h1:hover{
    transform: scale(1.1);
    transition: all ease 500ms;
}
.aboutUsContainer p{
    display: flex;
    width: 623px;
    height: 82px;
}
.textAbout{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 5%;
}
.textAbout img{
    width: 100px;
    height: 100px;  
}
.PhotosContainer{
    display: flex;
    margin-left: 5%;
    width: 981px;
    height: 200px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.titlePhotos h1{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    size: 20px;
    cursor: pointer;
}
.titlePhotos h1:hover{
    transform: scale(1.1);
    transition: all ease 500ms;
}
.Photos{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    
}
.Photos img{
    width: 200px;
    height: 200px; 
}

.textPhotos p{
    position: absolute;
    width: 800px;
    display: flex;
    margin-top: 5%;
    margin-left: 20%;
    flex-direction: row;
}
