.container{
    width: 100%;
    height: 100%;
}
.slogan{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: cursive;
    margin-top: 5%;
}
.aboutUsContainer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.titleAbout h1{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    size: 20px;
    cursor: pointer;
    color: var(--color-text);
}
.titleAbout h1:hover{
    transform: scale(1.1);
    transition: all ease 500ms;
}
.aboutUsContainer p{
    display: flex;
    width: 623px;
    height: 82px;
}
.textAbout{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 5%;
}
.textAbout img{
    width: 100px;
    height: 100px;  
}
/*//////////////////////////////////////////////////////*/
.PhotosContainer{
    display: flex;
    margin-left: 5%;
    width: 981px;
    height: 200px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.titlePhotos h1{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    size: 20px;
    cursor: pointer;
}
.titlePhotos h1:hover{
    transform: scale(1.1);
    transition: all ease 500ms;
}
.Photos{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    
}
.Photos img{
    width: 200px;
    height: 200px; 
}

.textPhotos p{
    position: absolute;
    width: 800px;
    display: flex;
    margin-top: 5%;
    margin-left: 20%;
    flex-direction: row;
}
/*//////////////////////////////////////////////////////*/
.ContatoContainer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.titleContato h1{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    size: 20px;
    cursor: pointer;
}
.titleContato h1:hover{
    transform: scale(1.1);
    transition: all ease 500ms;
}
.ContatoContainer p{
    display: flex;
    width: 623px;
    height: 82px;
}
.textContato{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 5%;
}
.icons{
    cursor: pointer;
    padding: 0rem 5rem;
}

/*//////////////////////////////////////////////////////*/

@media screen and (max-width: 850px){
    .slogan{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: cursive;
    }
    .aboutUsContainer{
        margin-top: 5%;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .titleAbout h1{
        margin-top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        size: 15px;
        cursor: pointer;
        color: var(--color-text);
    }
    .titleAbout h1:hover{
        transform: scale(1.1);
        transition: all ease 500ms;
    }
    .aboutUsContainer p{
        display: flex;
        width: 850px;
        height: 82px;
    }
    .textAbout{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 5%;
    }
    .textAbout img{
        display: none; 
    }
    /*//////////////////////////////////////////////////////*/
    .PhotosContainer{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 350px;
        flex-direction: column;
        padding: 8rem 15rem;
    }
    .titlePhotos h1{
        margin-top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        size: 15px;
        cursor: pointer;
    }
    .titlePhotos h1:hover{
        transform: scale(1.1);
        transition: all ease 500ms;
    }
    .Photos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .Photos img{
        width: 200px;
        height: 200px; 
    }
    .textPhotos{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .textPhotos p{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        right: 1rem;
        
    }
    /*//////////////////////////////////////////////////////*/
    .ContatoContainer{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .titleContato h1{
        margin-top: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        size: 20px;
        cursor: pointer;
    }
    .titleContato h1:hover{
        transform: scale(1.1);
        transition: all ease 500ms;
    }
    .ContatoContainer p{
        display: none;
    }
    .textContato{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 20%;
        padding: 2rem;
    }
    .icons{
        cursor: pointer;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 450px){
    .slogan{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: cursive;
    }
    .aboutUsContainer{
        margin-top: 5%;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .titleAbout h1{
        margin-top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        size: 14px;
        cursor: pointer;
        color: var(--color-text);
    }
    .titleAbout h1:hover{
        transform: scale(1.1);
        transition: all ease 500ms;
    }
    .aboutUsContainer p{
        display: flex;
        width: 450px;
        height: 90px;
    }
    .textAbout{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 5%;
    }
    .textAbout img{
        display: none; 
    }
    /*//////////////////////////////////////////////////////*/
    .PhotosContainer{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 350px;
        flex-direction: column;
        padding: 8rem 5rem;
    }
    .titlePhotos h1{
        margin-top: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        size: 15px;
        cursor: pointer;
    }
    .titlePhotos h1:hover{
        transform: scale(1.1);
        transition: all ease 500ms;
    }
    .Photos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .Photos img{
        width: 200px;
        height: 200px; 
    }
    .textPhotos{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .textPhotos p{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        right: 1rem;
        
    }
    /*//////////////////////////////////////////////////////*/
    .ContatoContainer{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .titleContato h1{
        margin-top: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        size: 20px;
        cursor: pointer;
    }
    .titleContato h1:hover{
        transform: scale(1.1);
        transition: all ease 500ms;
    }
    .ContatoContainer p{
        display: none;
    }
    .textContato{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 20%;
        padding: 2rem;
    }
    .icons{
        width: 400px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .icons svg {
        size: 20px;
    }
}
@media screen and (max-width:650px) {
    .PhotosContainer{
        padding: 8rem 10rem;
    }
}