.Navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 6rem;
}
.Navbar__links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
}
.Navbar__Logo {
    left: 0px;
    top: -9px;

}
.Navbar__Logo img {
    width: 180px;
    height: 180px;
}
.Navbar__links__container {
    display: flex;
    position: absolute;
    height: 43px;
    right: 0px;
    top: 45px;
}
.NavbarList{
    float: right;
    display: flex ;
    margin: 0;
    padding: 0;
    list-style: none;
}
.Navbar__links__container button,
.Navbar__menu__container{

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;   
    text-transform: capitalize;

    border-radius: 36px;

    margin: 0 1rem;
    cursor: pointer;
    background-color: var(--color-bg);
    border: none;

}
.buttonAnimation{
    color: var(--color-text);
    border-radius: 36px;
    font-size: 24px;
    text-align: center;
    width: 140px;
    height: 45px;

}
.buttonAnimation:hover{
    transition: all 0.3s ease-in;
    background: var(--color-footer);
    transition: 250ms;
}
.navbar__menu{
    margin-left: 1rem;
    display: none;
    position: relative;
    width: 35px;
    height: 90px;
    right: 0px;
    top: 2px;
}
.navbar__menu svg{
    cursor: pointer;
}
.navbar__menu__container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    padding: 6rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 150px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 90%;
    z-index: 1;
     
}

.navbar__menu__container button{
    width: 140px;
    height: 45px;
    margin: 1rem 0;
    font-family: var(--font-family);
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: var(--color-bg);
    color: var(--color-highlight);

}

@media screen and (max-width: 1050px){
    .Navbar__links__container{
        display: none;
    }
    .navbar__menu{
        display: flex;
    }
    .Navbar__Logo{
        position: absolute;
        width: 100px;
        height: 100px;
        left: 20px;
        top: 0px;
    }
    .Title{
        position: absolute;
        width: 278px;
        height: 118px;
        left: 5px;
        top: 108px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
    }
    .Title2{
        position: absolute;
        width: 278px;
        height: 118px;
        left: 5px;
        top: 130px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;   
    }
}
@media screen and (max-width: 700px){ 
    .Navbar{
        padding: 2rem 2rem;
    }

}

@media screen and (max-width: 550px){ 
    .Navbar{
        padding: 2rem;
    }
    .navbar__menu__container{
        top: 20px;
    }
}