@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
 
.container {
    bottom: 0%;
}
.container .PinkBox {
    width: 100%;
    height: 100%;
    background-color:rgba(211, 139, 139, 1);
    bottom: 0%;
}
.upper{
    flex: 1;
    display: flex;
}
.logo{
    left: 0px;
    top: -9px;
}
.logo img{
    width: 180px;
    height: 180px;
}
.slogan1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    font-size: 18px;
    font-family: cursive;
}
.contatos{
    display: flex;
    flex-direction:row;
    padding: 6rem 4rem;
    cursor: pointer;
    right: 0px;
}
.lower{
    display: flex;
    align-items: center;
    justify-content: center;
}
.direitos h3{
    font-size: 12px;
}
@media screen and (max-width: 850px){ 
    .logo{
        display: none;
    }
    .slogan1{
        display: none;
    }
    .contatos{
        display: none;
    }

}
@media screen and (max-width: 700px){ 
    .logo{
        display: none;
    }
    .slogan1{
        display: none;
    }
    .contatos{
        display: none;
    }

}