* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  background: var(--color-bg);

}
div.container {
  display: flex;
  flex-direction: column;
}

.Header {
  top: 0;
  width: 100%;
  height: 180px;
}

.body {
  width: 100%;
  display: flex;
}

footer {
  bottom: 0;
  width: 100%;
  margin-top: 10%;
}


.section__padding {
  padding: 4rem 6rem;
}
.section__margin {
  margin: 4rem 6rem;
}
@media screen and (max-width: 700px){
  .section__padding {
    padding: 4rem;
  }
  .section__margin {
    margin: 4rem;
  }
}
/*
Configurando responsividade para dispositivos pequenos, maximo 550px
*/
@media screen and (max-width: 550px){
  .section__padding {
    padding: 4rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }
}
