@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Roboto', Roboto;

  
  
  --color-bg: linear-gradient(rgba(211, 139, 139, 1), white);;
  --color-footer : linear-gradient(white, rgba(211, 139, 139, 1));;
  --color-highlight: rgb(255, 255, 255);
  --color-text: rgb(0, 0, 0);

}

body {
  width: 100%;
  height: 100%;
}